.search_header {
  height: 58px;
  max-width: 376px;
  border-radius: 36px !important;
  background: #fafafa;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}
.search_header input {
  border: none;
  height: 100%;
  border-radius: 36px !important;
  width: 100%;
  background: #fafafa;
  padding: 5px 6px;
  padding-right: 65px;
  padding-left: 15px;
}

.search_header span {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  background-color: #7eb693;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 6px;
}

.search_header:hover img {
  animation: rotate-btn 0.2s linear 1;
  -webkit-animation: rotate-btn 0.5s linear 1;
}

@keyframes rotate-btn {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 900px) {
}
